{
  "presets": ["env", "react"],
  "plugins": ["transform-object-rest-spread", "transform-es2015-destructuring"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-inline-elements"
      ]
    }
  }
}