<!DOCTYPE html>
<html>
<head><title>Create an account</title>
  <link href="assets/vendor/tether/css/tether.min.css" style="stylesheet">
  <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/vendor/fa/css/font-awesome.min.css">
  <link rel='stylesheet' href='assets/css/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <div class="container"><div class="row">
    <div class="col-sm-6 col-12 offset-sm-3 mt-sm-5 mb-sm-5 pt-4" id="homeLogin">
      <div class="navbar-brand text-center d-block mb-5"><img src="/images/logo.png" alt=""></div>
      <div class="row">
        <div class="text-desc text-center col-sm-8 offset-sm-2">
          <p class="mb-3">HelloBooks is a simple application that helps manage a library and its processes like stocking, tracking and renting books.</p><p>It takes less than 30 seconds to create an account. We just need some little details from you.</p></div>
        </div><!--row--><form action="/login" method="post" class="row">
          <div class="col-sm-8 offset-sm-2">
            <div class="form-group">
              <label class="sr-only">Name</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control" placeholder="Your full name">
              </div>
            </div><!--form-group-->
            <div class="form-group">
              <label class="sr-only">Email address</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                <input type="email" class="form-control" placeholder="Email address">
              </div>
            </div><!--form-group-->
            <div class="form-group">
              <label class="sr-only">Password</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-key"></i></div>
                <input type="password" class="form-control" placeholder="Your password">
              </div>
            </div><!--form-group-->
            <div class="form-group">
              <label class="sr-only">Confirm password</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-keyboard-o"></i></div>
                <input type="password" class="form-control" placeholder="Your password again">
              </div>
            </div><!--form-group-->
            <div class="form-group text-center">
              <button type="submit" class="btn btn-success btn-block" name="button">Create my account</button>
            </div>
          </div>
        </form>
        <div class="row justify-content-center text-center mb-5">
          <div class="col-sm-6">
            <a href="index.html">I already have an account</a>
          </div>
        </div></div>
        <script type="text/javascript" src="assets/js/jquery.js"></script>
        <script src="assets/vendor/tether/js/tether.min.js"></script>
        <script type="text/javascript" src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
      </body>
      </html>
