extends ../layouts/dashboard

block contentarea
  <div class="row">
  div.col-sm-3.flex-last.flex-sm-first.mb-5
    <div class="card mb-3">
    <div class="card-header">
      <span>Most read</span>
    </div>
    for n in [...Array(2).keys()]
      <div class="card-block">
        <a href="/book/borrow/this-is-a-nice-book"><img class="img-thumbnail" src="/images/#{n+1}.jpg" alt="Card image cap"></a>
      </div><!--card block-->
    </div><!--card-->
    <div class="card">
    <div class="card-header">
      <span>Browse by</span>
    </div>
      <div class="card-block">
    for n in [...Array(4).keys()]
        <a href="/books/view/" class="d-block ">>> Category #{n+1}</a>
    </div><!--card block-->
    </div><!--card-->
  div.col-sm-9
    <h4 class="title mb-2 mr-4">Dashboard</h4>
    <div class="mb-4"><small>Welcome Tayo. Here are some books you may find interesting. Use the form below to filter through the list.</small></div>
    <form class="form-inline mb-4">
    <select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
    <option value="">Choose a category</option>
    for n in [...Array(3).keys()]
      <option value="">Category #{n+1}</option>
    </select>
    <div class="ml-4 mr-4 text-center"> -OR- </div>
    <input type="text" placeholder="Enter author's name" class="form-control form-control-sm mt-2 mt-sm-0 mb-2 mr-sm-2 mb-sm-0">
    <button type="submit" class="btn btn-sm btn-danger">filter</button>
    </form>
    <div class="row">
    for n in [...Array(6).keys()]
      include ../components/dashboard/booklist
    </div><!--row-->
    <button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button>
  </div><!-- row -->
