extends ../layouts/layout

block content
  <nav class="navbar navbar-light mb-4">
  <button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  </nav><!--navbar-->
  <div class="row" id="bookList">
  <div class="col">
  <div class="col-sm-2">
  <div class="collapse sidebar" id="sidebar">
  <ul class="nav flex-column">
  <li class="nav-item">
  <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
  <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  </ul>
  </div><!--sidebar-->
  </div><!--col-sm 2-->
  
  <div class="col-sm-10" id="">
  <div class="row">
  <div class="card-columns">
  for n in [...Array(6).keys()]
    <div class="card">
    <img class="card-img-top" src="/images/card.jpg" alt="Card image cap">
    <div class="card-block">
    <h4 class="card-title">{4:Card title that wraps to a new line}</h4>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div><!--card-->
      
  </div><!--card-columns-->
  </div><!--row-->
  </div><!--col sm 10-->
  
  </div><!--sm-12-->
  </div><!--row#bookList-->
