extends ../layouts/dashboard

block contentarea
  <div class="row pr-3 pl-3 px-sm-0" id="yetReturn">
  <div class="col-sm-4 mt-4 px-0 pr-sm-3">
  <div class="card mb-3">
  <div class="text-center"><img class="card-img-top avatar mt-3" src="/images/user.png" alt="Card image cap"></div>
  <div class="card-block">
  <h6 class="card-title"><i class="fa fa-user text-info"></i> Fadojutimi Temitayo</h6>
  <p class="card-text">
  <span class="d-block"><i class="fa fa-envelope text-info"></i> My email address</span>
  <span class="d-block"><i class="fa fa-calendar-check-o text-info"></i> Jan. 12, 2011</span>
  <span class="d-block"><i class="fa fa-trophy text-danger"></i> Silver</span>
  </p>
  <a href="javascript:void(0)" onclick="$('#editProfile').toggleClass('hidden-xl-down');" class="card-link" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square"></i> Edit &nbsp;</a>
  <div id="editProfile" class="mt-4 hidden-xl-down">
  <form action="/login" method="post">
  <div class="form-group">
  <label class="sr-only">Name</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
  <div class="input-group-addon form-control-sm bg-danger text-white" data-toggle="tooltip" title="Please input your name"><i class="fa fa-user"></i></div>
  <input type="text" class="form-control form-control-sm" placeholder="Your name" required>
  </div>
  </div><!--form-group-->
  <div class="form-group">
  <label class="sr-only">Email address</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
  <div class="input-group-addon form-control-sm bg-info text-white" data-toggle="tooltip" title="Please input your email address"><i class="fa fa-envelope"></i></div>
  <input type="email" class="form-control form-control-sm" placeholder="Email address">
  </div>
  </div><!--form-group-->
  //-- <div class="form-group">
    <label class="sr-only">Membership type</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon form-control-sm bg-info text-white" data-toggle="tooltip" title="Please select a membership type for this user"><i class="fa fa-trophy"></i></div>
    <select class="custom-select custom-select-sm form-control form-control-sm">
    <option value="">Membership type</option>
    <option value="">Silver</option>
    <option value="">Gold</option>
    <option value="">Platinum</option>
    </select>
    </div>
    </div> form-group -->
  <div class="form-group text-center">
  <button type="button" class="btn btn-sm btn-success btn-block" name="button">Edit my profile</button>
  </div>
  </form>
  </div> <!--editProfile-->
  <a href="javascript:void(0)" onclick="$('#changePassword').toggleClass('hidden-xl-down');" class="card-link" data-toggle="tooltip" title="Change your password"><i class="fa fa-key"></i> Change password</a>
  <div id="changePassword" class="mt-4 hidden-xl-down">
  <form action="/login" method="post">
  <div class="form-group">
  <label class="sr-only">Current password</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
  <div class="input-group-addon form-control-sm bg-danger text-white"><i class="fa fa-key"></i></div>
  <input type="password" class="form-control form-control-sm" placeholder="Current password">
  </div>
  </div><!--form-group-->
  <div class="form-group">
  <label class="sr-only">New password</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
  <div class="input-group-addon form-control-sm bg-info text-white"><i class="fa fa-keyboard-o"></i></div>
  <input type="password" class="form-control form-control-sm" placeholder="New password">
  </div>
  </div><!--form-group-->
  <div class="form-group">
  <label class="sr-only">New password again</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
  <div class="input-group-addon form-control-sm bg-info text-white"><i class="fa fa-keyboard-o"></i></div>
  <input type="password" class="form-control form-control-sm" placeholder="New password again">
  </div>
  </div><!--form-group-->
  <div class="form-group text-center">
  <button type="button" class="btn btn-sm btn-success btn-block" name="button">Change password</button>
  </div>
  </form>
  </div>
  </div>
  </div><!--card-->
  </div>
  <div class="col-sm-8 px-0">
  <h6 class="title">I'm yet to return...</h6>
  <div class="">
  <div class="row">
    for n in [...Array(9).keys()]
      <div class="col-sm-6 col-md-12 col-lg-4 col-xs-12 mb-4">
      <div class="row">
      <div class="col-sm-6 col-6 align-self-center">
      <img class="img-thumbnail" src="/images/banner.jpg" alt="Card image cap">
      </div>
      <div class="col-sm-6 col-6 p-sm-0 align-self-center">
      <h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/123#{n}">Book title</a></h6>
      <h6 class="mb-1 text-muted"><small>Author 1</small></h6>
      <h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
      <a href="javascript:void(0)" class="card-link text-success" data-toggle="tooltip" title="Return book">Return</a>
      </div><!--col sm 8-->
      </div><!-- row -->
      </div>
    </div><!--row-->
  <button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button>
  </div><!--row-->
  </div>
  </div><!--row-->
