extends ../layouts/dashboard

block contentarea
  <div class="row align-items-top" id="borrowBook">
  <div class="col-sm-3 mt-4">
  <div class="card mb-3">
  <div class="text-center"><img class="card-img-top avatar mt-3" src="/images/user.png" alt="Card image cap"></div>
  <div class="card-block">
  <h4 class="card-title"><i class="fa fa-user"></i> My name</h4>
  <p class="card-text"><i class="fa fa-envelope"></i> My email address</p>
  <a href="/book/borrow/this-is-a-nice-book" class="card-link" data-toggle="tooltip" title="Borrow this book"><i class="fa fa-key"></i> Change password</a>
  </div>
  </div><!--card-->
  </div>
  <div class="col-sm-9">
  <h3 class="title">I'm yet to return...</h3>
  <div class="row">
  <div class="card-columns">
  for n in [...Array(6).keys()]
    <div class="card mb-3">
    <img class="card-img-top" src="/images/banner.png" alt="Card image cap">
    <div class="card-block">
    <h4 class="card-title">Book title</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    </div><!--card-->
  </div><!--card-columns-->
  <button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button>
  </div><!--row-->
  </div>
  </div><!--row-->
