<!DOCTYPE html>
<html>
<head>
<title>Add a book</title>
<link src="/tether/css/tether.min.css"><link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/fa/css/font-awesome.min.css"><link rel='stylesheet' href="/css/style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="">
<div class="container-fluid"><nav class="navbar navbar-light fixed-top justify-content-start bg-faded" id="topNav">
<div class="navbar-collapse text-center" id="navbarNav">
<button class="navbar-toggler navbar-toggler-left p-0 align-items-center" type="button" data-toggle="collapse" data-target="#sidebar" onclick="toggleSideNav(this);" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand mr-0 navbar-toggler-right" href="#"><span class="hidden-md-down mr-3">Hello-Books</span><img src="/images/logo-icon.png" style="width:30px; height:30px;" class="d-inline-block align-top" alt=""></a>
<div class="d-inline-block dropdown">
<a class="btn mr-sm-2 btn-sm btn-info dropdown-toggle" data-toggle="dropdown" href="/notifications" id="notificationInfo"><i class="fa fa-envelope-open"></i> <i class="badge badge-danger">3</i></a>
<div class="list-group dropdown-menu" id="notificationHolder"><a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1">Notification 1</h5>
<small>4 days ago</small>
</div>
<p class="mb-1 small">Donec id elit non mi porta gravida at eget metus.</p>
</a><a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1">Notification 2</h5>
<small>5 days ago</small>
</div>
<p class="mb-1 small">Donec id elit non mi porta gravida at eget metus.</p>
</a><a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1">Notification 3</h5>
<small>6 days ago</small>
</div>
<p class="mb-1 small">Donec id elit non mi porta gravida at eget metus.</p>
</a></div>
</div>
<button type="button" class="btn mr-sm-2 btn-sm btn-primary"><i class="fa fa-cog"></i></button>
<button type="button" class="btn mr-sm-2 btn-sm btn-outline-info"><i class="fa fa-user"></i></button>
<button type="button" class="btn mr-sm-2 btn-sm btn-danger"><i class="fa fa-power-off"></i></button>
<form class="form-inline hidden-sm-down d-inline-flex">
<div class="input-group">
<input type="text" class="form-control form-control-sm" placeholder="Search here" aria-describedby="basic-addon1">
<button class="input-group-addon input-group-sm" id="basic-addon1"><i class="fa fa-search"></i></button>
</div>
</form>
</div>
</nav>
<div class="collapse sidebar mb-3 h-100" id="sidebar"><ul class="nav flex-column">
<li class="nav-item closeBtn" onclick="closeNav(this)">
<a href="javascript:void(0)" class="nav-link">&times;</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/dashboard"><i class="fa fa-th-large"></i> Dashboard</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/history.html"><i class="fa fa-bookmark"></i> History</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/category"><i class="fa fa-th-list"></i> Book category</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/books/index.html"><i class="fa fa-book"></i> Books</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/stock"><i class="fa fa-archive"></i> Stock Manager</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/profile.html"><i class="fa fa-user"></i> Profile</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search-plus"></i> Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/settings.html"><i class="fa fa-cog"></i> Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">&copy; 2017. All rights reserved.</a>
</li>
</ul></div><!--sidebar-->
<div id="contentArea"><div class="mb-5">
<h4 class="title mb-2 mr-4">Add a book</h4>
<div class="mb-4"><small>Add a book</small></div>
<div class="form-group">
<input type="text" class="form-control" placeholder="Book title">
</div><!--form-group-->
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<textarea class="form-control" placeholder="Short description about this book" rows="5" style="min-height: 308px;"></textarea>
</div>
</div><!--col-->
<div class="col-sm-6">
<div class="form-group">
<input type="text" class="form-control" placeholder="Book author">
</div><!--form group-->
<div class="form-group">
<input type="date" class="form-control" placeholder="Release date">
</div><!--form group-->
<div class="form-group">
<input type="text" class="form-control" placeholder="Book url">
</div>
<div class="form-group">
<input type="number" class="form-control" placeholder="Number of copies">
</div>
<div class="form-group">
<input type="date" class="form-control" placeholder="Stock date">
</div>
<div class="form-group">
<input type="number" class="form-control" placeholder="ISSBN">
</div>
<div class="form-group">
<input type="date" class="form-control" placeholder="Published date">
</div>
<div class="form-group">
<select class="form-control">
<option value="">Please select a category...</option><option value="">Category 1</option><option value="">Category 2</option><option value="">Category 3</option><option value="">Category 4</option></select>
</div>
</div><!--col-sm-6-->
</div><!--row-->
<div class="row mb-5">
<div class="col-sm-3 col-9">
<div id="image-cropper" class="hidden-xl-down">
<div class="preview"></div>
</div><!--image-cropper-->
</div>
<div class="col-sm-3 col-3 justify-content-center">
<button class="btn btn-sm btn-default" href="javascript:void(0);" onclick="triggerUpload('imagefile')"><i class="fa fa-camera"> </i> <span class="hidden-xs-down">Add cover photo</span></button><div style="height: 0px; width: 0px;overflow:hidden;"><form><input id="imagefile" type="file" value="upload" class="cropit-image-input"/></form> </div>
<div class="" id="docpre"></div>
<button class="btn mt-3 btn-sm btn-default" href="javascript:void(0);" onclick="triggerUpload('docfile')"><i class="fa fa-camera"> </i> <span class="hidden-xs-down">Add Document file</span></button><div style="height: 0px; width: 0px;overflow:hidden;"><form><input id="docfile" type="file" value="upload" class="cropit-image-input"/></form> </div>
</div><!--col-->
</div>
<div class="d-flex justify-content-center">
<button type="button" class="btn btn-sm btn-success mr-4">Add</button>
<button type="reset" class="btn btn-sm btn-danger">Reset</button>
</div>
</div></div><!--col sm 10--></div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="/tether/js/tether.min.js"></script><script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script></body>
</html>