extends layout

block content
  <div class="row">
  <div class="col-sm-6 col-12 offset-sm-3 mt-sm-5 mb-sm-5 pt-4" id="homeLogin">
  <div class="navbar-brand text-center d-block mb-5"><img src="/images/logo.png" alt=""></div>
  <div class="row">
  <div class="text-desc text-center col-sm-8 offset-sm-2">
  <p class="mb-3">#{description}</p>
    if reg_text
      p #{reg_text}
  </div>
  </div><!--row-->
  
  block formcontent
    
    </div>
    </div>
