<!DOCTYPE html>
<html>
  <head>
    title=title
    style(src='/tether/css/tether.min.css')
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    block css
    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
    block content
  </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    script(src='/tether/js/tether.min.js')
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    block js
  </body>
</html>
