<div class="card mb-3">
<div class="card-header">
<span>Filter by</span>
</div>
<form>
<div class="card-block">
<div class="form-group">
<label class="custom-control align-items-center custom-checkbox">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description small text-danger">Unread</span>
</label>
<label class="custom-control align-items-center custom-checkbox">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description small text-success">Read</span>
</label>
</div>
<div class="form-group">
<label class="custom-control align-items-center custom-checkbox">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description small">Returned</span>
</label>
<label class="custom-control align-items-center custom-checkbox">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description small">Borrowed</span>
</label>
<label class="custom-control align-items-center custom-checkbox">
  <input type="checkbox" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description small">Surcharged</span>
</label>
</div>
<div class="form-group">
<input type="text" placeholder="Enter user's name" class="form-control form-control-sm">
</div>
<div class="form-group">
<input type="date" placeholder="Choose a date" class="form-control form-control-sm">
</div>
</div><!--row-->
<div class="card-footer">
<button type="submit" class="btn btn-sm btn-danger">filter</button>
<button type="reset" class="btn btn-sm btn-warning">reset</button>
</div>
</form>
</div><!--card-->

