extends layouts/home

block formcontent
  <form action="/login" method="post" class="row">
  <div class="col-sm-8 offset-sm-2">
  <div class="form-group">
  <label class="sr-only" for="inlineFormInputGroup">Username</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
  <div class="input-group-addon"><i class="fa fa-user"></i></div>
  <input type="email" class="form-control" id="inlineFormInputGroup" placeholder="Email address">
  </div>
  </div><!--form-group-->
  <div class="form-group">
  <label class="sr-only" for="inlineFormInputGroup">Username</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
  <div class="input-group-addon"><i class="fa fa-keyboard-o"></i></div>
  <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password">
  </div>
  </div><!--form-group-->
  <div class="form-group text-center">
  <button type="submit" class="btn btn-success btn-block" name="button">Login</button>
  </div>
  </div>
  </form>
  <div class="row justify-content-center text-center mb-5">
  <div class="col-sm-4">
  <a href="/register">Create an account</a>
  </div>
  <div class="col-sm-4">
  <a href="/reset-password">I forgot my password</a>
  </div>
  </div>
  
  </div>
  </div>
