<!DOCTYPE html>
<html>
<head>
<title>Stock management</title>
<link src="../../assets/tether/css/tether.min.css"><link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
<link rel="stylesheet" href="../../assets/fa/css/font-awesome.min.css"><link rel='stylesheet' href='../../assets/css/style.css' />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="">
<div class="container"><nav class="navbar navbar-light navbar-toggleable mb-3" id="topNav">
<div class="row align-items-start">
<button class="navbar-toggler btn-sm mr-1 p-0 col align-self-center text-left" onclick="$('body').slideDown('fast').toggleClass('overflow-hidden')" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span></button>
<a class="navbar-brand ml-auto p-2 col text-right" href="#"><img src="../../assets/images/logo-icon.png" class="d-inline-block align-top w-50" alt=""></a>
</div>
</nav><!--navbar-->
<div class="row" id="bookList">
<div class="col-sm-2 px-0">
<div class="collapse sidebar mb-3 h-100" id="sidebar"><ul class="nav flex-column py-4 px-4 py-sm-0 px-sm-0">
<li class="nav-item">
<a class="nav-link active" href="/dashboard">Dashboard</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/history.html">History</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/category">Book category</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/books">Books</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/stock">Stock Management</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/profile.html">Profile</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal">Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/logout">Logout</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">&copy; 2017. All rights reserved.</a>
</li>
</ul></div><!--sidebar-->
</div><!--col-sm 2-->
<div class="col-sm-10 pr-3 pl-3"><h4 class="title mb-2 mr-4">Stock management</h4>
<div class="mb-4"><small>Manage stock here</small></div>
<div class="row" id="stockManager">
<div class="col-sm-6 offset-sm-3">
<div id="stockFilterForm" class="bg-faded p-3">
<form>
<div class="form-group">
<input type="text" placeholder="Search by author" class="form-control">
</div>
<p class="text-center hidden-xs-down"><small>-- OR --</small></p>
<div class="form-group">
<select class="custom-select w-100">
<option>Filter by category</option><option value="">Category 1</option><option value="">Category 2</option><option value="">Category 3</option><option value="">Category 4</option><option value="">Category 5</option><option value="">Category 6</option></select>
</div>
<p class="text-center hidden-xs-down"><small>-- OR --</small></p>
<div class="form-group">
<select class="custom-select w-100">
<option>Filter by date</option>
<option value="">Today</option>
<option value="">7 days ago</option>
<option value="">2 weeks ago</option>
<option value="">a month ago</option>
<option value="">a while ago</option>
</select>
</div>
<div class="form-group text-right">
<button type="button" class="btn btn-success">Go!</button>
<button type="reset" class="btn btn-danger">Reset</button>
</div>
</form>
</div><!-- Stock filter form-->
</div>
</div><!--row-->
<h6 class="title my-5"><small>Showing 3 of 10 results</small></h6>
<div class="row"><div class="col-sm-4">
<div class="card mb-3">
<img class="card-img-top" src="../../assets/images/banner.png" alt="Card image cap">
<div class="card-block">
<h5 class="card-title"><a href="/books/stock/show.html">Book title</a></h5>
<h6><small class="card-subtitle text-muted">June 24th, 2017 </small></h6>
</div>
</div><!--card-->
</div><div class="col-sm-4">
<div class="card mb-3">
<img class="card-img-top" src="../../assets/images/banner.png" alt="Card image cap">
<div class="card-block">
<h5 class="card-title"><a href="/books/stock/show.html">Book title</a></h5>
<h6><small class="card-subtitle text-muted">June 24th, 2017 </small></h6>
</div>
</div><!--card-->
</div><div class="col-sm-4">
<div class="card mb-3">
<img class="card-img-top" src="../../assets/images/banner.png" alt="Card image cap">
<div class="card-block">
<h5 class="card-title"><a href="/books/stock/show.html">Book title</a></h5>
<h6><small class="card-subtitle text-muted">June 24th, 2017 </small></h6>
</div>
</div><!--card-->
</div></div><!--card-columns-->
<button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button></div><!--col sm 10-->
</div><!--row#bookList--></div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="../../assets/tether/js/tether.min.js"></script><script type="text/javascript" src="/js/bootstrap.min.js"></script><div class="modal fade" data-backdrop="static" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
<div class="modal-content border-0">
<div class="modal-body pt-4 border-bottom-0">
<form>
<div class="form-group">
<label class="sr-only" for="inlineFormInputGroup">Username</label>
<div class="input-group mb-2 mr-sm-2 mb-sm-0">
<div class="input-group-addon"><i class="fa fa-search"></i></div>
<input type="text" class="form-control d-block" placeholder="Search text">
</div>
<small class="form-text">You can search a book by author or category. You can also search for other users, etc</small>
</div>
</form>
</div>
<div class="modal-footer border-top-0">
<button type="button" class="btn btn-sm btn-primary">Search</button>
<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<script src="/js/script.js"></script></body>
</html>