<!DOCTYPE html>
<html>
<head>
<title>Stock Management</title>
<link src="/assets/tether/css/tether.min.css"><link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/fa/css/font-awesome.min.css"><link rel='stylesheet' href="/assets/css/style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="">
<div class="container"><nav class="navbar navbar-light justify-content-center navbar-toggleable-sm bg-faded" id="topNav">
<button class="navbar-toggler navbar-toggler-left p-0" type="button" data-toggle="collapse" data-target="#sidebar" onclick="$('body').toggleClass('overflow-hidden')" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand mr-0 navbar-toggler-right" href="#"><span class="hidden-xs-down mr-3">Hello-Books</span><img src="/assets/images/logo-icon.png" style="width:30px; height:30px;" class="d-inline-block align-top" alt=""></a>
<div class="navbar-collapse text-center" id="navbarNav">
<a class="btn mr-sm-2 btn-sm btn-info" href="/notifications"><i class="fa fa-envelope-open"></i> <i class="badge badge-danger">3</i></a>
<button type="button" class="btn mr-sm-2 btn-sm btn-primary"><i class="fa fa-cog"></i></button>
<button type="button" class="btn mr-sm-2 btn-sm btn-outline-info" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search-plus"></i></button>
<button type="button" class="btn mr-sm-2 btn-sm btn-danger"><i class="fa fa-power-off"></i></button>
</div>
</nav>
<div class="row mt-3" id="bookList">
<div class="col-sm-2 px-0">
<div class="collapse sidebar mb-3 h-100" id="sidebar"><ul class="nav flex-column py-4 px-4 py-sm-0 px-sm-0">
<li class="nav-item">
<a class="nav-link active" href="/dashboard">Dashboard</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/history.html">History</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/category">Book category</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/books">Books</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/stock">Stock Management</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/profile.html">Profile</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal">Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/settings.html">Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/logout">Logout</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">&copy; 2017. All rights reserved.</a>
</li>
</ul></div><!--sidebar-->
</div><!--col-sm 2-->
<div class="col-sm-10 pr-3 pl-3"><h4 class="title mb-2 mr-4">Stock management</h4>
<div class="mb-4"><small>Manage stock here</small></div>
<div class="row" id="stockManager">
<div class="col-sm-6 offset-sm-3">
<div id="stockFilterForm" class="bg-faded p-3">
<form>
<div class="form-group">
<input type="text" placeholder="Search by author" class="form-control">
</div>
<p class="text-center hidden-xs-down"><small>-- OR --</small></p>
<div class="form-group">
<select class="custom-select w-100">
<option>Filter by category</option><option value="">Category 1</option><option value="">Category 2</option><option value="">Category 3</option><option value="">Category 4</option><option value="">Category 5</option><option value="">Category 6</option></select>
</div>
<p class="text-center hidden-xs-down"><small>-- OR --</small></p>
<div class="form-group">
<select class="custom-select w-100">
<option>Filter by date</option>
<option value="">Today</option>
<option value="">7 days ago</option>
<option value="">2 weeks ago</option>
<option value="">a month ago</option>
<option value="">a while ago</option>
</select>
</div>
<div class="form-group text-right">
<button type="button" class="btn btn-success btn-sm">Go!</button>
<button type="reset" class="btn btn-danger btn-sm">Reset</button>
</div>
</form>
</div><!-- Stock filter form-->
</div>
</div><!--row-->
<h6 class="title my-5"><small>Showing 8 of 10 results</small></h6>
<div class="row"><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/stock/1230">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
<a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
<a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/stock/1231">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
<a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
<a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/stock/1232">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
<a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
<a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/stock/1233">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
<a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
<a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/stock/1234">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
<a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
<a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/stock/1235">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
<a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
<a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/stock/1236">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
<a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
<a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/stock/1237">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
<a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
<a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
</div><!--col sm 8-->
</div><!-- row -->
</div></div><!--row-->
<button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button></div><!--col sm 10-->
</div><!--row#bookList--></div>
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script src="/assets/tether/js/tether.min.js"></script><script type="text/javascript" src="/assets/js/bootstrap.min.js"></script><div class="modal fade" data-backdrop="static" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
<div class="modal-content border-0">
<div class="modal-body pt-4 border-bottom-0">
<form>
<div class="form-group">
<label class="sr-only" for="inlineFormInputGroup">Username</label>
<div class="input-group mb-2 mr-sm-2 mb-sm-0">
<div class="input-group-addon"><i class="fa fa-search"></i></div>
<input type="text" class="form-control d-block" placeholder="Search text">
</div>
<small class="form-text">You can search a book by author or category. You can also search for other users, etc</small>
</div>
</form>
</div>
<div class="modal-footer border-top-0">
<button type="button" class="btn btn-sm btn-primary">Search</button>
<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<script src="/assets/js/script.js"></script></body>
</html>