extends ../../layouts/dashboard

block js
  include ../../components/dashboard/addStock

block contentarea
  div.toolaction
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStockModal" aria-pressed="false"> <i class="fa fa-plus text-white"></i></button>
  <h4 class="title mb-2 mr-4">Viewing a stock</h4>
  <div class="mb-4"><small>You can add or edit stock information for this book here. Use the filter form to view from a particular page. </small></div>
      <form class="form-inline mb-4">
        <div class="form-group mr-2">
          <select class="custom-select custom-select-sm form-control-sm w-100">
          <option>Filter by date</option>
          <option value="">Today</option>
          <option value="">7 days ago</option>
          <option value="">2 weeks ago</option>
          <option value="">a month ago</option>
          <option value="">a while ago</option>
          </select>
        </div>
        <div class="form-group text-right">
        <button type="button" class="btn btn-sm btn-success">Go!</button>
        </div>
      </form>

  <button type="button" class="btn btn-sm btn-primary mb-3" data-toggle="modal" data-target="#addStockModal"><i class="fa fa-plus-square-o"></i> Add</button>

  <div class="table-responsive text-center">
    <table class="table" id="stockTable">
    <thead class="thead-default">
      <tr>
        <th>No. of copies</th>
        <th>Record date</th>
        <th>Added on</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      for n in [...Array(10).keys()]
        <tr>
        <td>#{(n+1)*2}</td>
        <td>July 31, 2017</td>
        <td>August #{n+1}, 2017</td>
        <td>
        <button type="button" class="btn btn-sm btn-info mb-2 mb-sm-0"><i class="fa fa-pencil-square-o"></i></button>
        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-pencil-square-o"></i></button>
        </td>
        </tr>
    //- for n in [...Array(3).keys()]
      <tr>
        <th scope="row">#{n+1}</th>
        <td><input type="number" class="form-control" placeholder="Number of copies"></td>
        <td><input type="date" class="form-control" placeholder="Record date"></td>
        <td></td>
      </tr>
    </tbody>
    //- <tfoot class="thead-default">
      <tr>
        <th colspan="4"><button class="btn btn-sm btn-danger" id="addMoreItem">Add more item</button></th>
      </tr>
      </tfoot>
  </table>
  </div>
  <button type="button" class="btn btn-primary btn-sm mb-3">See more</button>