extends ../../layouts/dashboard

block contentarea
  <h4 class="title mb-2 mr-4">Stock management</h4>
  <div class="mb-4"><small>Manage stock here</small></div>
  <div class="row" id="stockManager">
  <div class="col-sm-6 offset-sm-3">
    <div id="stockFilterForm" class="bg-faded p-3">
      <form>
        <div class="form-group">
          <input type="text" placeholder="Search by author" class="form-control">
        </div>
        <p class="text-center hidden-xs-down"><small>-- OR --</small></p>
        <div class="form-group">
          <select class="custom-select w-100">
          <option>Filter by category</option>
          for n in [...Array(6).keys()]
            <option value="">Category #{n+1}</option>
          </select>
        </div>
        <p class="text-center hidden-xs-down"><small>-- OR --</small></p>
        <div class="form-group">
          <select class="custom-select w-100">
          <option>Filter by date</option>
          <option value="">Today</option>
          <option value="">7 days ago</option>
          <option value="">2 weeks ago</option>
          <option value="">a month ago</option>
          <option value="">a while ago</option>
          </select>
        </div>
        <div class="form-group text-right">
        <button type="button" class="btn btn-success btn-sm">Go!</button>
        <button type="reset" class="btn btn-danger btn-sm">Reset</button>
        </div>
      </form>
    </div><!-- Stock filter form-->
  </div>
  </div><!--row-->


  <h6 class="title my-5"><small>Showing 8 of 10 results</small></h6>
  <div class="row">
    for n in [...Array(8).keys()]
      <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12 mb-4">
      <div class="row">
      <div class="col-sm-6 col-6 align-self-center">
      <img class="img-thumbnail" src="/images/banner.jpg" alt="Card image cap">
      </div>
      <div class="col-sm-6 col-6 p-sm-0 align-self-center">
      <h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/stock/123#{n}">Book title</a></h6>
      <h6 class="mb-1 text-muted"><small>Author 1</small></h6>
      <h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
      <a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
      <a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
      </div><!--col sm 8-->
      </div><!-- row -->
      </div>
    </div><!--row-->

  <button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button>