extends ../../layouts/dashboard

block contentarea
  <h4 class="title mb-2 mr-4">My borrowing history</h4>
  <div class="mb-1"><small>I can view all my borrowing history here.</small></div>
  <p>Borrowed 5, returned 3</p>
  <form class="form-inline mb-4">
  <select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
  <option value="">by date...</option>
  <option value="">Today</option>
  <option value="">Last 7 days</option>
  <option value="">Last 14 days</option>
  <option value="">A month ago</option>
  </select>
  <select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
  <option value="">by name...</option>
  <option value="">A-Z</option>
  <option value="">Z-A</option>
  </select>
  <button type="submit" class="btn btn-sm btn-danger">filter</button>
  </form>
  <div class="row">
  for n in [...Array(12).keys()]
    <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
    <div class="row">
    <div class="col-sm-6 col-6 align-self-center">
    <img class="img-thumbnail" src="/images/banner.jpg" alt="Card image cap">
    </div>
    <div class="col-sm-6 col-6 p-sm-0 align-self-center">
    <h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
    <h6 class="mb-1 text-muted"><small>Author 1</small></h6>
    <p class="mb-0"><small>June 27th, 2017</small></p>
    <p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
    <a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
    <a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
    <div class="mt-4 hidden-xl-down showBorrow">
    <form class="justify-content-center">
    <label class="sr-only">When will you return this book?</label>
    <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
    <input type="text" class="form-control form-control-sm" placeholder="Return date">
    </div>
    <div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
    </div>
    </form>
    </div><!--borrow book form-->
    </div><!--col sm 8-->
    </div><!-- row -->
    </div>
  </div><!--row-->
  <button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button>
