.dashboard-navbar{
  box-shadow: 1px 1px 1px #ddd;
}

#contentArea{
  margin-top: 8em;
}

.dashboard-navbar .navbar-brand img{
  width: 200px;
}

.dashboard-navbar .collapse.show{
  height: 100vh;
}

.dropdown-menu{
  font-size: 14px;
}

#notifications .dropdown-menu{
  width: 100%;
}

@media(min-width:768px){
#notifications .dropdown-menu{
  width: 500px;
}
}

#notifications .notification:nth-child(odd):hover{
  background-color: rgba(0,0,0,0.05);
}