<div class="modal fade" data-backdrop="static" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content border-0">
      <div class="modal-body pt-4 border-bottom-0">
        <form>
            <div class="form-group">
            <label class="sr-only" for="inlineFormInputGroup">Number of copies</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                    <input type="number" class="form-control d-block" placeholder="Number of copies">
                </div>
            </div>
            <div class="form-group">
            <label class="sr-only" for="inlineFormInputGroup">Record date</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input type="date" class="form-control d-block" placeholder="Record date">
                </div>
                <small class="form-text">Record date is different from the date you add the record. </small>
            </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-sm btn-primary">Add</button>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>