<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 pr-0 col-6 mb-4 book">
<img class="img-thumbnail" src="/images/2.jpg" alt="Card image cap">
<a href="#" class="card-link" data-toggle="tooltip" title="Add to reading list"><i class="fa fa-bookmark"></i></a>
</div>
