div.row.mb-3.bordered.p-2.mx-auto
    div.col-sm-2.col-4.col-md-4.text-center.px-0.col-lg-2
        img(src="/images/user.png", class="rounded-circle img-thumbnail w-100", style="border-radius:50px !important;")
        p.small.font-weight-bold.mb-1.
            User's name
        p.small.
            <i class='fa fa-calendar'></i>
            Feb 14th, 2017
    div.col-sm-10.col-8.col-md-8.col-lg-10.pr-0
        p.small.mb-2.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div.p-2.text-center.text-lg-left
            a(class="mr-3 mb-2", data-toggle="tooltip", title="Like", href="#")
                <i class='fa fa-thumbs-up'></i> 
                span #{n+1} Likes
            a(class="mr-2 mb-2", data-toggle="tooltip", title="Reply", href="#")
                <i class='fa fa-reply'></i> 
                span Reply