<div class="modal fade" data-backdrop="static" id="confirmBorrowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content border-0">
      <div class="modal-header border-bottom-0 font-weight-bold"> When are you likely to return this book?
      </div>
      <div class="modal-body pt-4 border-bottom-0">
        <form>
            <div class="form-group">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                    <input type="date" class="form-control d-block" placeholder="Please select...">
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-sm btn-primary">Search</button>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>