<div class="card mb-3">
<div class="card-header">
<span>Most read</span>
</div>

<div class="row m-2">
for n in [...Array(4).keys()]
    <div class="col-sm-6 col-6 px-0 pr-1 mb-1">
    <a href="/book/borrow/this-is-a-nice-book"><img class="img-thumbnail w-100 h-100" src="/images/#{n+1}.jpg" alt="Card image cap"></a>
    </div>
</div><!--card block-->
</div><!--card-->
<div class="card mb-3">
<div class="card-header">
<span>Browse by</span>
</div>
<div class="card-block">
for n in [...Array(4).keys()]
    <a href="/books/view/" class="d-block small">> Category #{n+1}</a>
</div><!--card block-->
</div><!--card-->