<ul class="nav flex-column">
<li class="nav-item closeBtn" onclick="closeNav(this)">
<a href="javascript:void(0)" class="nav-link">&times;</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/dashboard"><i class="fa fa-th-large"></i> Dashboard</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/history"><i class="fa fa-bookmark"></i> History</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/category"><i class="fa fa-th-list"></i> Book category</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/view"><i class="fa fa-book"></i> Books</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/stock"><i class="fa fa-archive"></i> Stock Manager</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/me"><i class="fa fa-user"></i> Profile</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search-plus"></i> Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/settings"><i class="fa fa-cog"></i> Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">&copy; 2017. All rights reserved.</a>
</li>
</ul>
