<ul class="nav flex-column py-4 px-4 py-sm-0 px-sm-0">
<li class="nav-item">
<a class="nav-link active" href="/dashboard">Dashboard</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/history">History</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/view">Books</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/category">Book category</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/me">Profile</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/logout">Logout</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">&copy; 2017. <br>All rights<br> reserved.</a>
</li>
</ul>
