extends ../layouts/dashboard

block contentarea
  <h4 class="title mb-2 mr-4">Dashboard</h4>
  <div class="mb-4"><small>Welcome Tayo. Here are some books you may find interesting. Use the form below to filter through the list.</small></div>
  <form class="form-inline mb-4">
  <select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
  <option value="">Choose a category</option>
  for n in [...Array(3).keys()]
    <option value="">Category #{n+1}</option>
  </select>
  <div class="ml-4 mr-4 text-center"> -OR- </div>
  <input type="text" placeholder="Enter author's name" class="form-control form-control-sm mt-2 mt-sm-0 mb-2 mr-sm-2 mb-sm-0">
  <button type="submit" class="btn btn-sm btn-danger">filter</button>
  </form>
  <div class="card-columns">
  for n in [...Array(6).keys()]
    <div class="card mb-3">
    <img class="card-img-top" src="/images/banner.png" alt="Card image cap">
    <div class="card-block">
    <h5 class="card-title"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">Author 1, Author 2</h6>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="/book/borrow/this-is-a-nice-book">read more</a></p>
    <a href="javascript:void(0)" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" class="card-link" data-toggle="tooltip" title="Borrow this book"><i class="fa fa-plus-square"></i></a>
    <a href="#" class="card-link" data-toggle="tooltip" title="Add to reading list"><i class="fa fa-bookmark"></i></a>
    <div class="mt-4 hidden-xl-down showBorrow">
    <form class="form-inline justify-content-center">
    <label class="sr-only">When will you return this book?</label>
    <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
    <input type="text" class="form-control form-control-sm" placeholder="Return date">
    <div class="input-group-addon bg-success p-0"><button type="button" class="btn btn-success btn-sm"><i class="fa fa-check"></i></button></div>
    </div>
    </form>
    </div><!--borrow book form-->
    </div>
    </div><!--card-->
  </div><!--card-columns-->
  <button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button>
