extends ../layouts/dashboard

block contentarea
  div.toolaction
    <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off" data-toggle="tooltip" title="Add a new book"> <i class="fa fa-plus text-white"></i></button>
  <h4 class="title mb-4 mr-4">Books <a href="/books/add"><i class="fa fa-plus-circle"></i></a></h4>
  <form class="form-inline mb-4">
  <select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
  <option value="">by date...</option>
  <option value="">Today</option>
  <option value="">Last 7 days</option>
  <option value="">Last 14 days</option>
  <option value="">A month ago</option>
  </select>
  <select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
  <option value="">by name...</option>
  <option value="">A-Z</option>
  <option value="">Z-A</option>
  </select>
  <button type="submit" class="btn btn-sm btn-danger">filter</button>
  </form>
  <div class="card-columns">
  for n in [...Array(12).keys()]
    <div class="card mb-3">
    <img class="card-img-top" src="/images/banner.png" alt="Card image cap">
    <div class="card-block">
    <h5 class="card-title"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h5>
    <h6 class="card-subtitle text-muted">Author 1, Author 2</h6>
    <small class="card-subtitle text-muted">June 24th, 2017 </small>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="/book/borrow/this-is-a-nice-book">read more</a></p>
    <a href="/books/add" class="card-link" data-toggle="tooltip" title="Edit this book"><i class="fa fa-pencil"></i></a>
    <a href="#" class="card-link" data-toggle="tooltip" title="Add to reading list"><i class="fa fa-bookmark"></i></a>
    </div>
    </div><!--card-->
  </div><!--card-columns-->
  <a href="" class="btn btn-primary bg-light btn-block mb-3">See more</a>
