extends ../layouts/dashboard

block contentarea
  div.toolaction
    <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off" data-toggle="tooltip" title="Add a new book"> <i class="fa fa-plus text-white"></i></button>
  <h4 class="title mb-2 mr-4">Books <a href="/books/add"><i class="fa fa-plus-circle"></i></a></h4>
  <div class="mb-4"><small>View books</small></div>
  <form class="form-inline mb-4">
  <select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
  <option value="">by date...</option>
  <option value="">Today</option>
  <option value="">Last 7 days</option>
  <option value="">Last 14 days</option>
  <option value="">A month ago</option>
  </select>
  <select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
  <option value="">by name...</option>
  <option value="">A-Z</option>
  <option value="">Z-A</option>
  </select>
  <input type="text" class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0" placeholder="by author">
  <button type="submit" class="btn btn-sm btn-danger">filter</button>
  </form>
  <div class="row">
    for n in [...Array(8).keys()]
      <div class="col-sm-6 col-md-12 col-lg-3 col-xs-12 mb-4">
      <div class="row">
      <div class="col-sm-6 col-6 align-self-center">
      <img class="img-thumbnail" src="/images/banner.jpg" alt="Card image cap">
      </div>
      <div class="col-sm-6 col-6 p-sm-0 align-self-center">
      <h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
      <h6 class="mb-1 text-muted"><small>Author 1</small></h6>
      <h6 class="mb-1 text-muted"><small>June 1st, 2017</small></h6>
      <a href="javascript:void(0)" class="card-link" data-toggle="tooltip" title="Edit book"><i class="fa fa-pencil"></i></a>
      <a href="#" class="card-link text-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-remove"></i></a>
      </div><!--col sm 8-->
      </div><!-- row -->
      </div>
    </div><!--row-->
  <a href="" class="btn btn-primary bg-light btn-block mb-3">See more</a>
