extends ../../layouts/dashboard

block contentarea
  <h4 class="title mb-4 mr-4">Add category</h4>
  <form class="mb-4 col-sm-6 offset-sm-3">
  <div class="form-group">
  <label>Category name</label>
  <input type="text" class="form-control" placeholder="Name of the category">
  </div>
  <button type="button" class="btn btn-block btn-success">Add</button>
  </form>
