extends ../../layouts/dashboard

block contentarea
  div.toolaction
    <button type="button" class="btn btn-success"> <i class="fa fa-plus text-white"></i></button>
  <h4 class="title mb-2 mr-4">Book categories</h4>
  <div class="mb-4"><small>View books by category</small></div>
  <form class="form-inline mb-4">
  <select class="form-control custom-select form-control-sm mb-2 mr-sm-2 mb-sm-0">
  <option value="">by date...</option>
  <option value="">Today</option>
  <option value="">Last 7 days</option>
  <option value="">Last 14 days</option>
  <option value="">A month ago</option>
  </select>
  <select class="form-control form-control-sm custom-select mb-2 mr-sm-2 mb-sm-0">
  <option value="">by name...</option>
  <option value="">A-Z</option>
  <option value="">Z-A</option>
  </select>
  <button type="submit" class="btn btn-sm btn-danger">filter</button>
  </form>
  <button type="button" class="btn btn-sm btn-primary mb-3" onclick="$('#addCategory').toggleClass('hidden-xl-down');"><i class="fa fa-plus-square-o"></i> Add</button>
  
    <div class="hidden-xl-down" id="addCategory">
  <form class="mb-4 form-inline">
  <div class="input-group">
  <input type="text" class="form-control" placeholder="Name of the category">
  <div class="input-group-btn"><button type="button" class="btn btn-success">Add</button></div>
  </div>
  </form>
  </div>

  <div class="table-responsive text-center">
    <table class="table" id="stockTable">
    <thead class="thead-default text-center">
      <tr class="text-center">
        <th>#</th>
        <th>Category name</th>
        <th>Date added</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      for n in [...Array(5).keys()]
        <tr>
        <td>#{n+1}</td>
        <td>Category #{(n+3)}</td>
        <td>August #{n+2}, 2017</td>
        <td>
        <button type="button" class="btn btn-sm btn-info mb-2 mb-sm-0"><i class="fa fa-pencil-square-o"></i></button>
        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-pencil-square-o"></i></button>
        </td>
        </tr>
    </tbody>
  </table>
  </div>
  <a href="" class="btn btn-primary bg-light btn-sm mb-3">See more</a>
