<!DOCTYPE html>
<html>
<head>
<title>Borrowing history</title>
<link src="/assets/tether/css/tether.min.css"><link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/fa/css/font-awesome.min.css"><link rel='stylesheet' href='/assets/css/style.css' />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="">
<div class="container"><nav class="navbar navbar-light navbar-toggleable mb-3" id="topNav">
<div class="row align-items-start">
<button class="navbar-toggler btn-sm mr-1 p-0 col align-self-center text-left" onclick="$('body').slideDown('fast').toggleClass('overflow-hidden')" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span></button>
<a class="navbar-brand ml-auto p-2 col text-right" href="#"><img src="/assets/images/logo-icon.png" class="d-inline-block align-top w-50" alt=""></a>
</div>
</nav><!--navbar-->
<div class="row" id="bookList">
<div class="col-sm-2 px-0">
<div class="collapse sidebar mb-3 h-100" id="sidebar"><ul class="nav flex-column py-4 px-4 py-sm-0 px-sm-0">
<li class="nav-item">
<a class="nav-link active" href="/dashboard">Dashboard</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/history.html">History</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/category">Book category</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/books">Books</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/stock">Stock Management</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/profile.html">Profile</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal">Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/settings.html">Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/logout">Logout</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">&copy; 2017. All rights reserved.</a>
</li>
</ul></div><!--sidebar-->
</div><!--col-sm 2-->
<div class="col-sm-10 pr-3 pl-3"><h4 class="title mb-2 mr-4">My borrowing history</h4>
<div class="mb-1"><small>I can view all my borrowing history here.</small></div>
<p>Borrowed 5, returned 3</p>
<form class="form-inline mb-4">
<select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
<option value="">by date...</option>
<option value="">Today</option>
<option value="">Last 7 days</option>
<option value="">Last 14 days</option>
<option value="">A month ago</option>
</select>
<select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0">
<option value="">by name...</option>
<option value="">A-Z</option>
<option value="">Z-A</option>
</select>
<button type="submit" class="btn btn-sm btn-danger">filter</button>
</form>
<div class="row"><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div><div class="col-sm-6 col-md-6 col-lg-4 col-xs-12 mb-4">
<div class="row">
<div class="col-sm-6 col-6 align-self-center">
<img class="img-thumbnail" src="/assets/images/banner.jpg" alt="Card image cap">
</div>
<div class="col-sm-6 col-6 p-sm-0 align-self-center">
<h6 class="mt-4 mt-sm-0 mb-0"><a href="/book/borrow/this-is-a-nice-book">Book title</a></h6>
<h6 class="mb-1 text-muted"><small>Author 1</small></h6>
<p class="mb-0"><small>June 27th, 2017</small></p>
<p class="mb-0 text-danger"><small>3 days since book was borrowed</small></p>
<a href="javascript:void(0)" class="card-link d-block" data-toggle="tooltip" title="Book returned" onclick="$('.showBorrow').toggleClass('hidden-xl-down');" ><small>Returned</small></a>
<a href="javascript:void(0)" class="card-link d-block ml-0" data-toggle="tooltip" title="I'm yet to return this book"><small>Return</small></a>
<div class="mt-4 hidden-xl-down showBorrow">
<form class="justify-content-center">
<label class="sr-only">When will you return this book?</label>
<div class="input-group">
<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
<input type="text" class="form-control form-control-sm" placeholder="Return date">
</div>
<div class="form-group mt-1"><button type="button" class="btn btn-block btn-success btn-sm"><i class="fa fa-check"></i></button>
</div>
</form>
</div><!--borrow book form-->
</div><!--col sm 8-->
</div><!-- row -->
</div></div><!--row-->
<button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button></div><!--col sm 10-->
</div><!--row#bookList--></div>
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script src="/assets/tether/js/tether.min.js"></script><script type="text/javascript" src="/assets/js/bootstrap.min.js"></script><div class="modal fade" data-backdrop="static" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
<div class="modal-content border-0">
<div class="modal-body pt-4 border-bottom-0">
<form>
<div class="form-group">
<label class="sr-only" for="inlineFormInputGroup">Username</label>
<div class="input-group mb-2 mr-sm-2 mb-sm-0">
<div class="input-group-addon"><i class="fa fa-search"></i></div>
<input type="text" class="form-control d-block" placeholder="Search text">
</div>
<small class="form-text">You can search a book by author or category. You can also search for other users, etc</small>
</div>
</form>
</div>
<div class="modal-footer border-top-0">
<button type="button" class="btn btn-sm btn-primary">Search</button>
<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<script src="/assets/js/script.js"></script></body>
</html>