<!DOCTYPE html>
<html>
<head><title>View history</title>
  <link href="../assets/vendor/tether/css/tether.min.css" style="stylesheet">
  <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/vendor/fa/css/font-awesome.min.css">
  <link rel='stylesheet' href='../assets/css/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <div class="container"><nav class="navbar navbar-light navbar-toggleable mb-3" id="topNav">
    <div class="d-flex justify-content-start">
      <button class="navbar-toggler btn-sm mr-1 p-0" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand ml-auto p-2" href="#"><img src="../assets/images/logo-icon.png" height="30" class="d-inline-block align-top" alt=""></a>
      </div>
    </nav><!--navbar-->
    <div class="row" id="bookList">
      <div class="col-sm-2">
        <div class="collapse sidebar mb-3" id="sidebar"><ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/history">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books/view">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books/category">Book category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/me">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">&copy; 2017. All rights reserved.</a>
          </li>
        </ul></div><!--sidebar-->
      </div><!--col-sm 2-->
      <div class="col-sm-10 pr-4 pl-4" id=""><div class="row align-items-top" id="borrowBook">
        <div class="col-sm-3 mt-4">
          <div class="card mb-3">
            <div class="text-center"><img class="card-img-top avatar mt-3" src="../assets/images/user.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="card-title"><i class="fa fa-user"></i> My name</h4>
              <p class="card-text"><i class="fa fa-envelope"></i> My email address</p>
              <a href="/book/borrow/this-is-a-nice-book" class="card-link" data-toggle="tooltip" title="Borrow this book"><i class="fa fa-key"></i> Change password</a>
            </div>
          </div><!--card-->
        </div>
        <div class="col-sm-9">
          <h3 class="title">I'm yet to return...</h3>
          <div class="row">
            <div class="card-columns"><div class="card mb-3">
              <img class="card-img-top" src="../assets/images/banner.png" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Book title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div><!--card--><div class="card mb-3">
              <img class="card-img-top" src="../assets/images/banner.png" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Book title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div><!--card--><div class="card mb-3">
              <img class="card-img-top" src="../assets/images/banner.png" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Book title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div><!--card--><div class="card mb-3">
              <img class="card-img-top" src="../assets/images/banner.png" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Book title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div><!--card--><div class="card mb-3">
              <img class="card-img-top" src="../assets/images/banner.png" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Book title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div><!--card--><div class="card mb-3">
              <img class="card-img-top" src="../assets/images/banner.png" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Book title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div><!--card--></div><!--card-columns-->
            <button type="button" class="btn btn-primary bg-light btn-block mb-3">See more</button>
          </div><!--row-->
        </div>
      </div><!--row--></div><!--col sm 10-->
    </div><!--row#bookList--></div>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script src="../assets/vendor/tether/js/tether.min.js"></script>
    <script type="text/javascript" src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/script.js"></script>
  </body>
  </html>
