<!DOCTYPE html>
<html>
<head>
<title>Settings</title>
<link src="/tether/css/tether.min.css"><link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/fa/css/font-awesome.min.css"><link rel='stylesheet' href="/css/style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="">
<div class="container-fluid"><nav class="navbar navbar-light fixed-top justify-content-start bg-faded" id="topNav">
<div class="navbar-collapse text-center" id="navbarNav">
<button class="navbar-toggler navbar-toggler-left p-0 align-items-center" type="button" data-toggle="collapse" data-target="#sidebar" onclick="toggleSideNav(this);" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand mr-0 navbar-toggler-right" href="#"><span class="hidden-md-down mr-3">Hello-Books</span><img src="/images/logo-icon.png" style="width:30px; height:30px;" class="d-inline-block align-top" alt=""></a>
<div class="d-inline-block dropdown">
<a class="btn mr-sm-2 btn-sm btn-info dropdown-toggle" data-toggle="dropdown" href="/notifications" id="notificationInfo"><i class="fa fa-envelope-open"></i> <i class="badge badge-danger">3</i></a>
<div class="list-group dropdown-menu" id="notificationHolder"><a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1">Notification 1</h5>
<small>4 days ago</small>
</div>
<p class="mb-1 small">Donec id elit non mi porta gravida at eget metus.</p>
</a><a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1">Notification 2</h5>
<small>5 days ago</small>
</div>
<p class="mb-1 small">Donec id elit non mi porta gravida at eget metus.</p>
</a><a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1">Notification 3</h5>
<small>6 days ago</small>
</div>
<p class="mb-1 small">Donec id elit non mi porta gravida at eget metus.</p>
</a></div>
</div>
<button type="button" class="btn mr-sm-2 btn-sm btn-primary"><i class="fa fa-cog"></i></button>
<button type="button" class="btn mr-sm-2 btn-sm btn-outline-info"><i class="fa fa-user"></i></button>
<button type="button" class="btn mr-sm-2 btn-sm btn-danger"><i class="fa fa-power-off"></i></button>
<form class="form-inline hidden-sm-down d-inline-flex">
<div class="input-group">
<input type="text" class="form-control form-control-sm" placeholder="Search here" aria-describedby="basic-addon1">
<button class="input-group-addon input-group-sm" id="basic-addon1"><i class="fa fa-search"></i></button>
</div>
</form>
</div>
</nav>
<div class="collapse sidebar mb-3 h-100" id="sidebar"><ul class="nav flex-column">
<li class="nav-item closeBtn" onclick="closeNav(this)">
<a href="javascript:void(0)" class="nav-link">&times;</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/dashboard"><i class="fa fa-th-large"></i> Dashboard</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/history.html"><i class="fa fa-bookmark"></i> History</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/category"><i class="fa fa-th-list"></i> Book category</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/books/index.html"><i class="fa fa-book"></i> Books</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/books/stock"><i class="fa fa-archive"></i> Stock Manager</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/profile.html"><i class="fa fa-user"></i> Profile</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal"><i class="fa fa-search-plus"></i> Search</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/dashboard/settings.html"><i class="fa fa-cog"></i> Settings</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">&copy; 2017. All rights reserved.</a>
</li>
</ul></div><!--sidebar-->
<div id="contentArea"><div class="row pr-3 pl-3 px-sm-0" id="yetReturn">
<div class="col-sm-8 offset-sm-2 mt-4 px-0 pr-sm-3">
<form>
<div id="accordion" role="tablist" aria-multiselectable="true">
<div class="card">
<div class="card-header" role="tab" id="headingOne">
<h5 class="mb-0">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Basic Settings</a>
</h5>
</div>
<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
<div class="card-block">
<div class="form-group">
<input type="text" placeholder="Application email address" class="form-control">
<p class="form-text">This will be used to send emails to the user</p>
</div>
<div class="form-group">
<input type="text" placeholder="Application Name" class="form-control">
<p class="form-text">This will be used as the email sender's name</p>
</div>
<div class="form-group">
<input type="text" placeholder="Number of days until surcharge" class="form-control">
<p class="form-text">How long can a user hold unto a book before being charged?</p>
</div>
<div class="form-group">
<button class="btn btn-success" type="button">Submit</button>
<button class="btn btn-danger" type="reset">Reset</button>
</div>
</div>
</div>
</div><!-- card -->
</div><!--accordion-->
</form>
</div>
</div><!--row--></div><!--col sm 10--></div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="/tether/js/tether.min.js"></script><script type="text/javascript" src="/js/bootstrap.min.js"></script><div class="modal fade" data-backdrop="static" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
<div class="modal-content border-0">
<div class="modal-body pt-4 border-bottom-0">
<form>
<div class="form-group">
<label class="sr-only" for="inlineFormInputGroup">Username</label>
<div class="input-group mb-2 mr-sm-2 mb-sm-0">
<div class="input-group-addon"><i class="fa fa-search"></i></div>
<input type="text" class="form-control d-block" placeholder="Search text">
</div>
<small class="form-text">You can search a book by author or category. You can also search for other users, etc</small>
</div>
</form>
</div>
<div class="modal-footer border-top-0">
<button type="button" class="btn btn-sm btn-primary">Search</button>
<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<script src="/js/script.js"></script></body>
</html>