body{
  margin: 0;
  padding: 0;
  position: relative;
}
.loader{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #076d20; /* Blue */
  border-radius: 50% !important;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}
#loader{
  position: absolute;
  background-color: rgba(255,255,255,1);
  top: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  z-index: 111;
}

#loader > div {
  position: absolute;
  width: 250px;
  height: 180px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  margin: auto;
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader p{
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #666;
}